@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "GeologicaCoursive";
  src: url("../public/fonts/Geologica_Cursive-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
